
.schedule-color{
    color: green;
}
.illustraction{
    position: absolute;
    width: 1350px;
    height: 570px;
    left: 0px;
    top: 0px;
    background: #F0FFF0;
}
.learn{
    font-size: 50px;
    
}
.align{
    left: 75px;
    top: 50px;
    line-height: 60px;

}
h6{
    color: grey;
}
.container{
    margin-top: 150px;
}
.text-content{
    text-align: center;
}
.div-border{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 80%;
    background-color: white;


}
.card{
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    height: 80%;
    background-color: white;
    
}
p::before{
    /* content: url(images/ICON/calendar.png); */
    
}
h1{
    text-align: center;
}
.image-content{
    left: 250px;
}
.second-content{
    right: 200px;
}
footer{
    text-align: center;
    
}
.h5-content{
    background-color: green;
    
}
h5{
    text-decoration-color: white ;
}